#header {
  background: #ffffff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 20px; }
  #header.header-transparent {
    background: transparent; }
  #header.header-scrolled {
    top: 0;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); }
    #header.header-scrolled .focus-logo img {
      width: 40%; }
  #header .menu-items a {
    color: #000000;
    font-weight: 600; }
    #header .menu-items a.middle {
      position: relative; }
      #header .menu-items a.middle:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #e04469;
        visibility: hidden;
        transition: all 0.3s ease-in-out; }
      #header .menu-items a.middle:hover:before {
        visibility: visible;
        width: 100%; }
    #header .menu-items a:hover {
      color: #e5191f;
      font-weight: 600 !important;
      transition: 0.3s; }
      #header .menu-items a:hover i {
        color: #000000; }
  #header .focus-logo img {
    width: 53%; }

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */ }

.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  padding-left: 30px; }

.main-nav a {
  display: block;
  position: relative;
  color: #413e66;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600; }

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none; }

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s; }

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible; }

.main-nav .drop-down li {
  min-width: 180px;
  position: relative; }

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77; }

.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: #1bb1dc; }

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px; }

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px); }

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%; }

.main-nav .drop-down .drop-down > a {
  padding-right: 35px; }

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px; }

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s; }

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none; }

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500; }

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none; }

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px; }

.mobile-nav .active.drop-down > a:after {
  content: "\f077"; }

.mobile-nav .drop-down > a {
  padding-right: 35px; }

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden; }

.mobile-nav .drop-down li {
  padding-left: 20px; }

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; }

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77; }

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none; }

.mobile-nav-active {
  overflow: hidden; }

.mobile-nav-active .mobile-nav {
  left: 0; }

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff; }

section#banner {
  padding: 140px 0px 60px 0px;
  /*	background: $bg-light-blue;*/ }
  section#banner .banner-section .left-b {
    padding: 150px 0px 60px 0; }
    section#banner .banner-section .left-b h6 {
      color: #000000;
      margin-bottom: 20px;
      letter-spacing: 1px; }
    section#banner .banner-section .left-b h1 {
      color: #000000;
      letter-spacing: 2px;
      line-height: 50px;
      font-weight: 600;
      font-size: 36px; }
  section#banner .banner-section p {
    margin: 15px 0px;
    line-height: 30px; }
  section#banner .banner-section .banner-img {
    text-align: end; }
    section#banner .banner-section .banner-img img {
      width: 80%;
      text-align: end; }

#about {
  padding: 0px  0px 60px 0px; }
  #about .about-section h2 {
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px; }
  #about .about-section p {
    margin: 15px 0px;
    color: #000000;
    line-height: 30px; }
  #about .about-section .about-img img {
    width: 85%; }
  #about .about-section .right-a {
    padding-top: 80px; }
  #about .about-section .left-a {
    text-align: center; }

body {
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 0 !important;
  margin: 0 !important; }

.custom {
  padding: 0px 50px;
  box-sizing: border-box; }

.active {
  color: #e5191f !important;
  font-weight: 600 !important; }

#background {
  width: 100%;
  background-size: cover;
  background-image: url(../images/background5.jpg); }

/*button section*/
.primary-fit-btn {
  background: #ffffff;
  font-size: 13px;
  border-radius: 200px;
  border: 2px solid #000000;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 600;
  transition-timing-function: ease-out;
  transition: 0.5s;
  color: #000000; }
  .primary-fit-btn:hover {
    background-color: #000000;
    color: #ffffff;
    transition-timing-function: ease-in;
    transition: 0.3s;
    border: 2px solid #000000;
    box-shadow: none !important; }
  .primary-fit-btn:focus {
    outline: none; }

.btn {
  color: #ffffff; }
  .btn:active, .btn:focus {
    box-shadow: none !important; }

.seconday-fit-btn {
  background: #ffffff;
  color: #e5191f;
  font-size: 13px;
  border-radius: 200px;
  border: 2px solid #e5191f;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 600;
  transition-timing-function: ease-out;
  transition: 0.5s; }
  .seconday-fit-btn:hover {
    background-color: #e5191f;
    color: #ffffff;
    transition-timing-function: ease-in;
    transition: 0.3s;
    border: 2px solid #e5191f; }
  .seconday-fit-btn:focus {
    outline: none; }

@media (max-width: 576px) {
  .request-bt {
    display: flex; }

  .subscribe-btn {
    display: flex; } }
.border-right-none-lg {
  border-right: none !important; }

.border-bottom-none-lg {
  border-bottom: none !important; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f9fa;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.hvr-shutter-out-horizontal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

#services {
  padding: 60px  0px 60px 0px; }
  #services .service-section h2 {
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px; }
  #services .service-section p {
    margin-top: 0;
    margin-bottom: 5px;
    color: #000000;
    line-height: 30px; }
  #services .service-section .service li {
    text-align: center;
    color: #5a5a5a;
    font-size: 30px; }
    #services .service-section .service li i {
      position: relative;
      top: -5px; }
  #services .service-section .service h5 {
    font-size: 18px;
    font-weight: 600; }
  #services .service-section .service a {
    color: #e5191f !important;
    font-weight: 600;
    margin-top: 5px;
    display: inline-block; }
    #services .service-section .service a:hover {
      color: #d9161d !important;
      transition: 0.3s; }
  #services .service-section .service .text-info {
    letter-spacing: 2px;
    margin-top: 5px; }
  #services .service-section .service img {
    width: 65%; }
  #services .service-section .service .serv-place {
    padding: 10px 105px; }
  #services .service-section .service .serv {
    list-style: none;
    text-align: left;
    border: 2px solid #f6f6f6;
    border-top: 0;
    border-left: 0;
    padding-bottom: 30px;
    padding-top: 30px; }

#request {
  background-color: #164565;
  padding: 40px 0px;
  color: #ffffff; }
  #request .request-section h4 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px; }
    #request .request-section h4 span {
      font-weight: 600; }
  #request .request-section p {
    margin: 0;
    font-size: 16px;
    line-height: 30px; }
  #request .request-section button {
    font-size: 13px;
    border-radius: 200px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 12px 20px;
    letter-spacing: 1px;
    font-weight: 600;
    float: right;
    margin-top: 5px;
    transition-timing-function: ease-out;
    transition: 0.5s; }
    #request .request-section button:hover {
      /*background-color:$bg-dark-blue !important;
      color:$color-white !important;*/
      /*box-shadow: 0px 2px 9px $bg-hash;	*/
      /*border:2px solid $bg-dark-blue !important;
      transition: box-shadow.5s ease-in;*/
      color: #164565;
      background-color: #ffffff;
      transition-timing-function: ease-in;
      transition: 0.5s; }

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #f5f9fa;
  padding: 60px 0; }
  #portfolio header h2 {
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px; }
  #portfolio header p {
    margin: 15px 0px;
    color: #000000; }
  #portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center; }
    #portfolio #portfolio-flters li {
      cursor: pointer;
      margin: 15px 15px 15px 0;
      display: inline-block;
      padding: 6px 10px;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      font-weight: 600;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out; }
      #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
        color: #e5191f; }
      #portfolio #portfolio-flters li:last-child {
        margin-right: 0; }
  #portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
    #portfolio .portfolio-item .portfolio-wrap {
      overflow: hidden;
      position: relative;
      margin: 0; }
      #portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-wrap:hover img {
        opacity: 0.4;
        transition: 0.3s; }
      #portfolio .portfolio-item .portfolio-wrap .portfolio-info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        transition: 0.2s linear; }
        #portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
          font-size: 18px;
          line-height: 1px;
          font-weight: 500;
          margin-bottom: 14px;
          padding-bottom: 0; }
          #portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
            color: #fff; }
            #portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
              text-decoration: underline; }
        #portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
          padding: 0;
          margin: 0;
          color: #f8fcff;
          font-weight: 400;
          font-size: 13px; }
        #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview, #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
          display: inline-block;
          line-height: 1;
          text-align: center;
          width: 36px;
          height: 36px;
          background: #e5191f;
          border-radius: 50%;
          margin: 10px 4px 0 4px;
          padding: 2px 5px;
          transition-timing-function: ease-out;
          transition: 0.3s; }
          #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i, #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
            padding-top: 8px;
            font-size: 18px;
            color: #fff; }
          #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover, #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
            background: #000000;
            transition: 0.3s; }
            #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i, #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
              color: #fff; }
      #portfolio .portfolio-item .portfolio-wrap:hover {
        background: #282646; }

/*# clients section start */
#clients {
  padding: 60px 0px 60px 0px; }
  #clients .clients-section h2 {
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px; }
  #clients .clients-section p {
    margin: 15px 0px;
    color: #000000; }
  #clients .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; }
    #clients .owl-item img {
      width: 100%;
      opacity: 0.5;
      transition: ease-in-out 0.3s;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      #clients .owl-item img:hover {
        -webkit-filter: none;
        filter: none;
        opacity: 1; }
  #clients .owl-nav, #clients .owl-dots {
    margin-top: 24px;
    text-align: center; }
  #clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important; }
    #clients .owl-dot.active {
      background-color: #164565 !important;
      border: none;
      outline: 0; }

/*# clients section end */
/* subscribe Section start*/
#subscribe {
  background-color: #f5f9fa;
  padding: 40px 0; }
  #subscribe .subscribe-section {
    color: #000000; }
    #subscribe .subscribe-section h4 {
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 20px; }
    #subscribe .subscribe-section p {
      margin-top: 11px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 30px; }
    #subscribe .subscribe-section .custom-btn {
      float: right;
      font-size: 13px;
      color: #ffffff;
      position: absolute;
      border: 2px solid #e5191f;
      border-radius: 100px;
      right: 0;
      padding: 10px 20px;
      font-weight: 600;
      background: #e5191f; }
      #subscribe .subscribe-section .custom-btn:hover {
        background: #ffffff;
        transition-timing-function: ease-in;
        transition: 0.3s;
        color: #e5191f;
        border: 2px solid #000000 !important; }
      #subscribe .subscribe-section .custom-btn:focus {
        outline: none; }
    #subscribe .subscribe-section .input-long {
      padding: 10px 20px;
      border-radius: 200px;
      border: 2px solid #000000;
      font-size: 13px;
      width: 90%;
      float: right;
      outline: none; }
    #subscribe .subscribe-section .subscribe-btn {
      margin-top: 15px; }

/* subscribe Section end*/
/* contact Section start*/
#contact {
  padding: 60px 0 0 0; }
  #contact .contact-form {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(234, 234, 234, 0.7);
    border: 1px solid #f1f1f1; }
    #contact .contact-form .form-group {
      border-radius: 0;
      border-bottom: 1px solid #16456521; }
      #contact .contact-form .form-group .form-control {
        border: none;
        font-size: 16px;
        color: #164565; }
        #contact .contact-form .form-group .form-control:focus {
          border-color: none !important; }
    #contact .contact-form .form-btn .fit-default-btn {
      font-size: 13px;
      border-radius: 200px;
      border: none;
      padding: 12px 20px;
      letter-spacing: 1px;
      font-weight: 600;
      outline: none; }
      #contact .contact-form .form-btn .fit-default-btn.primary-fit-btn {
        background-color: #164565; }
        #contact .contact-form .form-btn .fit-default-btn.primary-fit-btn:hover {
          background: #164565;
          box-shadow: 0px 0px 10px rgba(234, 234, 234, 0.7);
          border: 1px solid #f1f1f1; }
    #contact .contact-form .form-btn button {
      width: 100%; }
  #contact .address-section, #contact .phone-section {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(234, 234, 234, 0.7);
    border: 1px solid #ffffff;
    line-height: 30px; }
    #contact .address-section .round, #contact .phone-section .round {
      font-size: 30px;
      color: #5a5a5a; }
  #contact .map-section {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(234, 234, 234, 0.7);
    border: 1px solid #f1f1f1; }

/* subscribe Section end*/
/*footer section start*/
#footer {
  padding: 40px 0 20px 0; }
  #footer .footer-section span {
    font-size: 14px;
    color: #000000; }
  #footer .footer-section ul {
    display: inline-flex; }
    #footer .footer-section ul li {
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 37px;
      border-radius: 100px;
      list-style: none;
      color: #000000 !important; }
      #footer .footer-section ul li:hover {
        color: #ffffff !important;
        background: #e5191f;
        transition: all 0.5s; }

/*footer section end*/
.breadcrumbs {
  padding: 30px 0;
  background: #164565;
  min-height: 40px;
  margin-top: 107px;
  color: #ffffff; }

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px; } }
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px; }

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px 0px 10px 0px;
  margin: 0;
  font-size: 13px;
  font-weight: 500; }

.breadcrumbs ol li + li {
  padding-left: 10px; }

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #ffffff;
  content: "/"; }

#about-us {
  padding: 60px 0px; }
  #about-us .about-us-section h2 {
    color: #164565;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px; }
  #about-us .about-us-section h5 {
    color: #164565;
    font-weight: 600; }
  #about-us .about-us-section p {
    margin: 15px 0px;
    color: #164565;
    line-height: 30px; }
  #about-us .about-us-section .about-us-img img {
    width: 80%; }
  #about-us .section-two p {
    margin-top: 0;
    color: #164565;
    line-height: 30px; }
  #about-us .section-two p:last-child {
    margin-bottom: 0; }

#service-list {
  padding: 60px 0px; }
  #service-list h4 {
    color: #164565;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 800; }
  #service-list .service-list-section {
    padding: 20px;
    box-sizing: border-box; }
    #service-list .service-list-section li {
      list-style: none;
      font-size: 23px;
      color: #164565;
      text-align: center;
      margin-right: 20px; }
      #service-list .service-list-section li i {
        color: #f2f2f2; }
    #service-list .service-list-section h5 {
      color: #164565;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 0px;
      padding: 3px 0px; }

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0; }

#testimonials .section-header h3 {
  font-weight: 600 !important;
  margin-bottom: 8px;
  text-align: center;
  color: #164565;
  letter-spacing: 2px;
  font-size: 30px; }

#testimonials .section-header p {
  margin: 15px 0px;
  color: #164565; }

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    text-align: center; } }
#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left; }

@media (max-width: 767px) {
  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto; } }
#testimonials .testimonial-item h3 {
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: #164565;
  margin-left: 140px; }

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #164565;
  margin: 0 0 15px 0;
  margin-left: 140px; }

#testimonials .testimonial-item p {
  margin: 0 0 15px 140px; }

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%; } }
@media (max-width: 767px) {
  #testimonials .testimonial-item h3, #testimonials .testimonial-item h4, #testimonials .testimonial-item p {
    margin-left: 0; } }
#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 30px;
  text-align: center; }

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd; }

#testimonials .owl-dot.active {
  background-color: #1bb1dc; }

/*# sourceMappingURL=style.css.map */
