#about-us{
	padding: 60px 0px;
	.about-us-section{
		h2{
			color: $color-dark-blue;
			letter-spacing: 2px;
			font-weight: 600;
			font-size: $head-main;
		}
		h5{
			color: $color-dark-blue;
			font-weight: 600;
		}
		p{
			margin: 15px 0px;
			color: $color-dark-blue;
			line-height: 30px;
		}
		.about-us-img{
			img{
				width: 80%;
			}

		}
	}
	.section-two{
		p{
			margin-top: 0;
			color: $color-dark-blue;
			line-height: 30px;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
}