#about{
	padding: 0px  0px 60px 0px;	
	.about-section {
		h2{
			color: $color-dark-blue;
			letter-spacing: 2px;
			font-weight: 600;
			font-size: $head-main;
		}
		p{
			margin: 15px 0px;
			color: $color-dark-blue;
			line-height: 30px;
		}

		.about-img{
			img{
				width: 85%;
			}

		}
		.right-a{
			padding-top: 80px;

		}
		.left-a{
			text-align: center;
		}
	}
	
}






