#banner{
	padding: 140px 0px 0px 0px;
	/*	background: $bg-light-blue;*/
	.banner-section {
		.left-b{
			padding-top: 100px;
			h1{
				color: $black;
				margin-bottom: 15px;
				letter-spacing: 1px;
				font-weight: 500;
				font-size: 1rem;
			}

		}
		
		.banner-img {
			text-align: end;
			img{
				width: 80%;
				text-align: end;
			}
		}
	}
}
h2.tagline {
	line-height: 50px;
}