section#banner{
	padding: 140px 0px 60px 0px;
	/*	background: $bg-light-blue;*/
	.banner-section {
		.left-b{
			padding: 150px 0px 60px 0;
			h6{
			color: $black;
			margin-bottom: 20px;
			letter-spacing: 1px;
		}
		h1{
			color: $black;
			letter-spacing: 2px;
			line-height: 50px;
			font-weight: 600;
			font-size: 36px;
		}
		}
		
		
		p{
			margin: 15px 0px;
			line-height: 30px;
		}
		
		
		
		
		.banner-img {
			text-align: end;
			img{
				width: 80%;
				text-align: end;
			}
		}
	}
}