#service-list{
	padding: 60px 0px;
	h4{
		color: $color-dark-blue;
		letter-spacing: 2px;
		font-size: $head-sub2;
		font-weight:800;
		}.service-list-section{
			padding: 20px;
			box-sizing: border-box;
			li{
				list-style: none;
				font-size: 23px;
				color: $color-dark-blue;
				text-align: center;
				margin-right: 20px;
				i{
					color:$color-f2;

				}
			}
			h5{
				color: $color-dark-blue;
				letter-spacing: 2px;
				font-weight: 600;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 0px;
				padding: 3px 0px;
			}
		}
	}