#services{
	padding: 60px  0px 60px 0px;	
	
	.service-section {
		h2{
			color: $black;
			letter-spacing: 2px;
			font-weight: 600;
			font-size: 30px;
		}
		p{
			margin-top: 0;
			margin-bottom: 5px;
			color: $black;
			line-height: 30px;
		}
		.service{
			// padding:0px 30px 40px 15px;
			// box-sizing: border-box;
			li {
				text-align: center;
				color: $light-grey;
				font-size: 30px;
				i{
					position: relative;
					top: -5px;
				}
			}
			h5{
				font-size: 18px;
				font-weight: 600;
				
			}
			a{
				color: $brand !important;
				font-weight: 600;
				margin-top: 5px;
				display: inline-block;
				&:hover{
					color:none !important;

				}
			}
			.text-info{
				letter-spacing: 2px;
				margin-top: 5px;
			}
			img{
				width:65%;
			}
			.serv-place{
				padding: 10px 105px;
			}
			.serv{
				list-style: none;
				text-align: left;
				border: 2px solid #f6f6f6;
				border-top: 0;
				border-left: 0;
				padding-bottom: 30px;
				padding-top: 30px;
				&:hover{
					
					h5, p, a{
						
					}
					li{
						
					}
				}				
			}
		}

		

	}	
}
