#services{
	padding: 60px  0px 60px 0px;	
	background: #f9faff;
	.service-section {
		h2{
			color: $color-dark-blue;
			letter-spacing: 2px;
			font-weight: 600;
			font-size: 30px;
		}
		p{
			margin: 15px 0px;
			color: $color-dark-blue;
		}
		.service{
			padding: 35px 15px;
			box-sizing: border-box;
			li {
				list-style: none;
				position: absolute;
				top: -35px;
				font-size: 25px;
				width: 60px;
				left: calc(83% - 20px);
				border-radius: 200px;
				padding: 11px;
				height: 60px;
				background: #8599b3;
				border: 2px solid #8599b3;
				color: #ffffff;
				text-align: center;
				margin: auto;
				transition-timing-function: ease-out;
				transition: 0.8s;
			}
			h5{
				color: $color-black;
				letter-spacing: 2px;
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				margin-top: 25px;
				
			}
			p{
				margin-bottom: 5px;
				margin-top: 0;
				

			}
			a{
				font-weight: 500;
				font-size: 13px;
				color: $color-black !important;
				text-align: left;
				&:hover{
					color:$color-blue !important;
					transition: 0.5s;
				}
			}
			.text-info{
				letter-spacing: 2px;
				margin-top: 5px;
			}
			img{
				width:65%;
			}
			.serv{
				background: $bg-white;
				box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
				padding: 10px;
				position: relative;
				transition-timing-function: ease-in-out;
				border:3px solid $color-white;
				text-align: left;

				&:hover{
					transition-timing-function:ease-in;
					transition:0.5s;
					background:#8599b3;
					border:3px solid $color-white;
					padding: 10px;
					h5, p, a{
						color:#fff;
						transition: 0.5s;
					}
					li{
						padding:11px;
						background: none !important;
						border:3px solid $color-white;
						background:#8599b3  !important;
						transition: 0.5s;
						color: $color-white;
					}
				}				
			}
		}
		

	}	
}
