
/* subscribe Section start*/
#subscribe{
	background-color: $bg-hash;
	padding: 40px 0;
	.subscribe-section {
		color:$color-black;
		h4{
			letter-spacing: 2px;
			font-weight: 600;
			font-size: 20px;
		}
		p{
			margin-top: 11px;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 30px;
		}
		
		.custom-btn{
			float: right;
			font-size: 13px;
			color: $bg-white;
			position: absolute;
			border:2px solid $color-dark-blue ! important;
			right: 15px;
			padding:10px 20px;
			border:none;
			&:hover, &:active, &:focus{
				background:$bg-white;
				transition-timing-function:ease-in;
				transition: 0.3s;
				color: $color-dark-blue;
				border:2px solid $color-dark-blue;



			}
		}
		.input-long{
			
			padding:10px 20px;
			border-radius: 200px;
			border: 2px solid $color-dark-blue;
			font-size: 13px;
			width: 90%;
			float: right;
			outline: none;
		}
		.subscribe-btn{
			margin-top: 15px;	
		}
	}


}
/* subscribe Section end*/