$body-font:'montserrat', sans-serif;

$head-main:30px;
$head-sub1:26px;
$head-sub2:20px;

$btn-text:13px;

$bg-light-blue:#f5f9fa;
$bg-dark-blue:#164565;
$bg-blue:#1bb1dc;
$bg-green:#278e90;
$bg-hash:#dad4d4;
$bg-white:#ffffff;
$bg-green-over:#33a7a9;
$bg-blue-over:#336b92;


$color-white:#ffffff;
$color-dark-blue:#164565;
$color-blue:#1bb1dc;
$color-black:#000000;
$color-green:#278e90;
$brand:#e5191f;
$black:#000000;
$white:#ffffff;
$light-grey:#5a5a5a;



